<%= twitter_bootstrap_form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title, 'Title', :class => 'span8' %>
  <%= f.text_area :body, 'Body', :class => 'span8' %>
  <%= f.email_field :from_address, 'From', :class => 'span8' %>

  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
