<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label class="control-label">Title</label>
  <%= f.text_field :title, :class => 'span9' %>
  <label class="control-label">Body</label>
  <%= f.text_area :body, :class => 'span9' %>
  <% unless is_guest? %>
  <label class="control-label">Email</label>
  <%= select(:note, :from_address, current_or_guest_user.user_emails.map { |e| e.email }) %>
  <% end %>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-success" %>
    <a href="/notes" class="btn">Cancel</a>
  </div>
<% end %>
