<div id="share-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" data-dismiss="modal" class="close">&times;</a>
    <h3>Share Note</h3>
  </div>
  <div class="modal-body">
    <form action="/notes/<%= @note.id %>/share" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>
      Email: <input type="text" name="email">
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" onclick="$('#share-modal').modal('hide'); return false" class="btn">Nevermind</a>
  </div>
</div>

<p id="notice"><%= notice %></p>

<h2><%= @note.title %></h2>

<%= @note.rendered_body.html_safe %>

<%= content_for :sidebar do %>
  <%= link_to 'Edit', edit_note_path(@note), :class => 'btn' %>
  <%= link_to 'Delete', @note, confirm: 'Are you sure?', method: :delete, :class => 'btn danger' %><br><br>
  <a data-toggle="modal" data-backdrop="true" data-keyboard="true" href="#share-modal">Share</a><br>
  <hr>
  <strong>F:</strong> <%= @note.from_address %><br>
  <strong>C:</strong> <%= @note.created_at %><br>
  <strong>U:</strong> <%= @note.updated_at %><br>
  <h4>Tags</h4>
  <ul>
    <% @note.tag_list.each do |tag| %>
    <li><%= tag %></li>
    <% end %>
  </ul>
  <h4>Versions</h4>
  <ul>
    <% @note.versions.each do |version| %>
    <li><%= version.created_at %></li>
    <% end %>
  </ul>
<% end %>
