<%= content_for :title do %>
<%= @note.title %>
<% end %>

<h2><%= @note.title %></h2>

<%= raw @note.rendered_body %>

<%= content_for :sidebar do %>
  <a href="/notes/<%= @note.id %>/append" class="btn btn-success">Append</a>
  <%= link_to 'Edit', edit_note_path(@note), :class => 'btn' %>
  <%= link_to 'Delete', @note, confirm: 'Are you sure?', method: :delete, :class => 'btn danger' %><br><br>
  <a href="/notes/<%= @note.id %>/share">Share</a><br>
  <% if @note.share_id %>
  <a href="/notes/<%= @note.id %>/unshare">Unshare</a></br>
  <% end %>

  <hr>
  <strong>F:</strong> <%= @note.from_address %><br>
  <strong>C:</strong> <%= @note.created_at %><br>
  <strong>U:</strong> <%= @note.updated_at %><br>
  <h4>Tags</h4>
  <ul>
    <% @note.tag_list.each do |tag| %>
    <li><%= tag %></li>
    <% end %>
  </ul>
  <h4>Versions</h4>
  <ul>
    <% @note.versions.each do |version| %>
    <li><%= version.created_at %></li>
    <% end %>
  </ul>
<% end %>
