<%= content_for :title do %>
<%= @note.title %>
<% end %>

<% if @note.user.notes.length == 1 %>
<!-- Google Code for Started Marginalia Trial Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1035035716;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "CDXbCIzywgMQxMjF7QM";
var google_conversion_value = 0.50;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1035035716/?value=0.50&amp;label=CDXbCIzywgMQxMjF7QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<% end %>  

<small><a href="/notes">&larr; Back to notes</a></small>
<h2><%= @note.title %></h2>

<%= raw @note.rendered_body %>

<%= content_for :sidebar do %>
  <div class="btn-group">
  <a rel="tooltop" href="/notes/<%= @note.id %>/append" id="btn-append" class="btn btn-success"><i class="icon-plus icon-white"></i></a>
  <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_note_path(@note), :class => 'btn', :id => 'btn-edit', :rel => 'tooltip' %>
  <%= link_to '<i class="icon-trash"></i>'.html_safe, @note, confirm: 'Are you sure?', method: :delete, :class => 'btn', :rel => 'tooltip', :id => "btn-delete" %>
  <% unless is_guest? %>
    <a href="/notes/<%= @note.id %>/share" class="btn" id="btn-share" rel="tooltip"><i class="icon-eye-open"></i></a>
  <% end %>
  <!-- <button class="btn" data-toggle="collapse" data-target="#info" id="btn-info" rel="tooltip"><i class="icon-info-sign"></i></button> -->
  </div>

  <div id="info">
  <% unless is_guest? %>
  <strong>F:</strong> <%= @note.from_address %><br>
  <% end %>
  <strong>C:</strong> <%= human_local_datetime(@note.created_at, @note.user.time_zone) %><br>
  <strong>U:</strong> <%= human_local_datetime(@note.updated_at, @note.user.time_zone) %><br><br>
  <strong><%= @note.word_count %></strong> words<br>
  <%= number_to_human_size(@note.body.length) %><br>
  <% if is_admin? || current_or_guest_user.plan.try(:can_export) %>
  <a href="/notes/<%= @note.id %>/bare">Export HTML</a>&nbsp;<a href="/notes/<%= @note.id %>/pdf">Export PDF</a>
  <% end %>
  <% if @note.tag_list.length > 0 %>
  <h4>Tags</h4>
  <ul>
    <% @note.tag_list.each do |tag| %>
    <li><a href="/tags/<%= tag %>"><%= tag %></a></li>
    <% end %>
  </ul>
  <% end %>
  <h4>Versions</h4>
  <%= select(:note, :version_id, @note.versions.collect { |v| [human_local_datetime(v.created_at, @note.user.time_zone), v.id] }, {:selected => @version_id }, {:id => 'version_select'}) %>
  </div>
<% end %>
