<div class="container">
  <div class="row news">
    <div class="span10">
      <h2>Settings</h2>
    </div>
    <div class="span5">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <legend>User Info</legend>
        <%= f.label :email %>
        <%= f.email_field :email %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :time_zone %>
        <%= time_zone_select( "user", 'time_zone', ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)") %>

        <legend>Change Password</legend>
        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :current_password %>
        <%= f.password_field :current_password %>
        <div class="form-actions">
          <%= f.submit "Update", :class => "btn btn-success" %>
        </div>
      <% end %>
    </div>
    <div class="span5">
      <legend>Additional Addresses</legend>
      <table class="table table-striped sorted">
        <thead>
          <tr>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.user_emails.each do |address| %>
          <tr>
            <td><%= address.email %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Add Address', new_address_path, :class => 'btn' %>
    </div>
  </div>
</div>
