<% @supress_nav = true %>
<div class="container">
  <h2>Register</h2>
  <%= form_for(@user, :url => '/register', :class => 'form-horizontal') do |f| %>

    <fieldset>
      <% if @user.errors.any? %>
        <div id="error_explanation" class="alert" style="width: 30em">
          <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
          <strong>Oops, there were some problems</strong>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :email, :placeholder => "Email" %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.password_field :password, :placeholder => "Password" %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.password_field :password_confirmation, :placeholder => "Password Confirm" %>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Register</button>
    </fieldset>
  <% end %>
</div>
