<% @supress_nav = true %>
<div class="container">
  <div class="row">
    <div class="span6">
      <h2>Register</h2>
      <% if ab_test("show_num_registration_steps_0001", nil, {:conversion => "Charged Card"}) %>
      <h4>Step 1 of 2</h4>
      <% end %>
      <%= form_for(@user, :url => '/register', :method => :post, :class => 'form-horizontal') do |f| %>
        <fieldset>
          <% if @user.errors.any? %>
            <div id="error_explanation" class="alert" style="width: 30em">
              <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
              <strong>Oops, there were some problems</strong>
    
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="control-group">
            <div class="controls">
              <% if @disable_email_field %>
                <%= f.text_field :email, :value => @user.email, :disabled => true %>
              <% else %>
                <%= f.text_field :email, :placeholder => "Email", :disabled => true %>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.text_field :name, :placeholder => "Name (for emails and sharing)" %>
            </div>
          </div>
          <% unless @remove_password_fields %>
          <div class="control-group">
            <div class="controls">
              <%= f.password_field :password, :placeholder => "Password" %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.password_field :password_confirmation, :placeholder => "Password Confirm" %>
            </div>
          </div>
          <% end %>
          <button type="submit" class="btn btn-success">Register</button>
        </fieldset>
      <% end %>
    </div>
    <div class="span6">
      <div class="well news">
        <h4>Benefits</h4>
        <p>
        <ul>
          <li>Unlimited notes</li>
          <li>Unlimited note versions</li>
          <li>Buy it once for $19 and own it forever</li>
          <li>Full RESTful API</li>
          <li>Full control over your data</li>
        </ul>
        </p>
        <h4>Privacy and Support</h4>
        <p>
        Check out the <a href="/support">full policy</a>, but here's the gist:
        <ul>
          <li>I'll never spam you</li>
          <li>Your data is yours. I'll never sell or release it.</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
