<% @supress_nav = true %>
<div class="container">
  <div class="row">
    <div class="span6">
      <h2>Register</h2>
      <% if ab_test("show_num_registration_steps_0001", nil, {:conversion => "Charged Card"}) %>
      <h4>Step 1 of 2</h4>
      <% end %>
      <%= form_for(@user, :url => '/register', :method => :post, :class => 'form-horizontal') do |f| %>
        <%= f.hidden_field :id, :value => @user.id %>
        <fieldset>
          <% if @user.errors.any? %>
            <div id="error_explanation" class="alert" style="width: 30em">
              <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
              <strong>Oops, there were some problems</strong>
    
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="control-group">
            <div class="controls">
              <% if @disable_email_field %>
                <%= f.hidden_field :email, :value => @user.email %>
                <%= f.text_field :email, :value => @user.email, :disabled => true, :class => "input-xlarge" %>
              <% else %>
                <%= f.text_field :email, :placeholder => "Email", :class => "input-xlarge" %>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.text_field :name, :placeholder => "Name (for emails and sharing)", :value => nil, :class => "input-xlarge" %>
            </div>
          </div>
          <% if @user.encrypted_password.empty? %>
          <div class="control-group">
            <div class="controls">
              <%= f.password_field :password, :placeholder => "Password", :class => "input-xlarge" %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.password_field :password_confirmation, :placeholder => "Password Confirm", :class => "input-xlarge" %>
            </div>
          </div>
          <% end %>
          <button type="submit" class="btn btn-large btn-success">Register</button>
        </fieldset>
      <% end %>
    </div>
    <div class="span6">
      <div class="news kinda-big">
        <h1>$19 <small>Pay once, use Marginalia forever</small></h1>
        <h4>Marginalia Features and Benefits</h4>
        <p>
        <ul>
          <li><strong>Unlimited</strong> notes</li>
          <li><strong>Unlimited</strong> versions</li>
          <li>Full RESTful API</li>
          <li>Full control over your data</li>
        </ul>
        </p>
        <h4>Privacy and Support</h4>
        <p>
        Check out the <a href="/support">full policy</a>, but here's the gist:
        <ul>
          <li>I'll never spam you</li>
          <li>Your data is yours. I'll never sell or release it.</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="testimonial" style="padding-top: 30px;">
        <h4>&ldquo;&hellip;seriously, fantastic service, great feature, and I'm really, really excited by Marginalia. Thanks!&rdquo;</h4>
        <p>&mdash; Mark D.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <hr>
      <h3>Frequently Asked Questions</h3>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h4>Do I have to sign a long term contract?</h4>
      <p>No. There are no long-term commitments of any kind.</p>
    </div>
    <div class="span6">
      <h4>Is Marginalia secure and confidential?</h4>
      <p>My top priority is your privacy and security. I will never release, sell, or reveal any of your data. Ever.</p>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h4>Who can read my notes?</h4>
      <p>You are the only one who can read your notes, unless you explicitly share them.</p>
    </div>
    <div class="span6">
      <h4>More questions?</h4>
      <p>Email me at <a href="mailto:pete@marginalia.io">pete@marginalia.io</a>.</p>
    </div>
  </div>
</div>
