<% @supress_nav = true %>
<% content_for :title do %>
  Sign Up for Marginalia and Start Writing Notes in 30 Seconds
<% end %>
<div class="container">
  <div class="row">
    <div class="span8">
      <h2>Sign Up and Start Writing Notes in 30 Seconds</h2>
      <% @plans = Plan.where(:active => true).order(:sort_order) %>
      <table class="table news kinda-big centered table-bordered table-striped">
        <thead>
          <tr>
          <% @plans.each do |plan| %>
            <th class="<%= plan.featured ? 'featured' : '' %>"><%= plan.name %></th>
          <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
          <% @plans.each do |plan| %>
            <td class="<%= plan.featured ? 'featured' : '' %>"><strong>$<%= plan.amount / 100 %></strong></td>
          <% end %>
          </tr>
          <tr>
          <% @plans.each do |plan| %>
            <td class="<%= plan.featured ? 'featured' : '' %>"><a href="/register?p=<%= plan.id %>" class="btn btn-large <%= plan.featured ? "btn-success" : "btn-info" %>">Signup</a></td>
          <% end %>
          </tr>
          <tr>
          <% @plans.each do |plan| %>
            <td class="<%= plan.featured ? 'featured' : '' %>"><strong>Unlimited</strong> Notes</td>
          <% end %>
          </tr>
          <tr>
          <% @plans.each do |plan| %>
            <td class="<%= plan.featured ? 'featured' : '' %>"><strong>Unlimited</strong> Versions</td>
          <% end %>
          </tr>
          <tr>
          <% @plans.each do |plan| %>
            <td class="<%= plan.featured ? 'featured' : '' %>"><strong>Unlimited</strong> Projects</td>
          <% end %>
          </tr>
          <tr>
          <% @plans.each do |plan| %>
            <% if plan.can_share %>
              <td class="<%= plan.featured ? 'featured' : '' %>"><b>Premium</b> Sharing<br><small>Share with individual collaborators over email</small></td>
            <% else %>
              <td class="<%= plan.featured ? 'featured' : '' %>">Basic Sharing<br><small>Share a publicly-accessible link for each note</small></td>
            <% end %>
          <% end %>
          </tr>
          <tr>
          <% @plans.each do |plan| %>
            <% if plan.can_export %>
              <td class="<%= plan.featured ? 'featured' : '' %>"><b>Premium</b> Exports<br><small>Export notes as HTML or PDF</small></td>
            <% else %>
              <td class="<%= plan.featured ? 'featured' : '' %>">Basic Exports<br><small>Export notes as Markdown</small></td>
            <% end %>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span4 news big">
      <p>
        <h4>Each monthly plan includes:</h4>
        <i class="icon-check" style="color: #24bf51"></i> Create unlimited Notes, Versions, and Projects<br>
        <i class="icon-check" style="color: #24bf51"></i> Create notes by Email<br>
        <i class="icon-check" style="color: #24bf51"></i> Stored on our Secure Server<br>
        <i class="icon-check" style="color: #24bf51"></i> Basic public sharing<br>
        <i class="icon-check" style="color: #24bf51"></i> Export all of your notes with one click<br>
      </p>
      <p>
        <h4>Money Back Guarantee</h4>
        <%= image_tag "GuaranteeSeal.jpg", :width => "150px", :style => "float: right" %><br>
        If you're ever not satisfied with Marginalia, just let me know and you'll
        get your last month's payment refunded, no questions asked.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <hr>
      <div class="testimonial">
        <h4>&ldquo;&hellip;seriously, fantastic service, great feature, and I'm really, really excited by Marginalia. Thanks!&rdquo;</h4>
        <p>&mdash; Mark D.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <hr>
      <h3>Frequently Asked Questions</h3>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h4>Do I have to sign a long term contract?</h4>
      <p>No. There are no long-term commitments of any kind.</p>
    </div>
    <div class="span6">
      <h4>Is Marginalia secure and confidential?</h4>
      <p>My top priority is your privacy and security. I will never release, sell, or reveal any of your data. Ever.</p>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h4>Who can read my notes?</h4>
      <p>You are the only one who can read your notes, unless you explicitly share them.</p>
    </div>
    <div class="span6">
      <h4>More questions?</h4>
      <p>Email me at <a href="mailto:pete@marginalia.io">pete@marginalia.io</a>.</p>
    </div>
  </div>
</div>

