<%- all_notes_active = request.path == "/notes" ? "active" : "" -%>
<ul class="nav nav-list">
  <li class="<%= all_notes_active %>"><a href="/notes">All Notes</a></li>
  <% if tags %>
  <li class="nav-header">Tags</li>
  <% tags.each do |tag| %>
    <%-
       path = "/tags/#{tag}"
       active = request.path == path ? "active" : ""
    -%>
    <li class="<%= active %>"><a href="<%= path %>"><%= tag %></a></li>
  <% end %>
  <% end %>
  <li class="nav-header">Projects</li>
  <% projects.each do |project| %>
    <%-
       path = "/projects/#{project.id}"
       active = request.path == path ? "active" : ""
    -%>
    <li class="dragtarget <%= active %>"><a href="<%= path %>"><%= project.name %></a></li>
  <% end %>
  <li class="divider"></li>
  <% if @project %>
  <li><a href="#" data-target="#change-project-name" data-toggle="collapse">Change Name</a></li>
  <li><%= link_to 'Delete', @project, confirm: 'Are you sure you want to delete the project? Your notes will not be deleted.', method: :delete %></li>
  <% end %>
  <li><a href="#" data-target="#create-new-project" data-toggle="collapse">Create New Project</a></li>
</ul>
<div id="create-new-project" class="collapse out">
  <%= form_for(Project.new, :class => "form-inline") do |f| %>
      <%= f.text_field :name, :placeholder => "Project Name", :class => 'input-large' %><br>
      <%= f.submit :value => "Create", :class => "btn btn-success" %>
  <% end %>
</div>
<% if @project %>
<div id="change-project-name" class="collapse out">
  <%= form_for(@project, :class => "form-inline") do |f| %>
    <%= f.text_field :name, :placeholder => @project.name, :class => 'input-large' %><br>
    <%= f.submit :value => "Update", :class => "btn btn-small btn-success" %>
  <% end %>
</div>
<% end %>

