<p id="notice"><%= notice %></p>

<p>
  <b>Website:</b>
  <%= @client.website %>
</p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Identifier:</b>
  <%= @client.identifier %>
</p>

<p>
  <b>Secret:</b>
  <%= @client.secret %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
