<% content_for :title do %>
  Feature Tour
<% end %>
<script type="text/javascript">
$(function() {
  $('.screenshot_group').colorbox();
});
</script>
<div class="container">
  <div class="row">
    <div class="span12">
      <h2>Feature Tour</h2>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <a class="screenshot_group" title="Create Notes with Ease" href="<%= image_path "create_note.png" %>"><img src="<%= image_path "create_note_small.png" %>"></a>
    </div>
    <div class="span8">
      <h3>Create Notes using Markdown</h3>
      <p>Notes are plaintext with optional Markdown or HTML formatting.</p>
      <p>Anything you can write in plaintext can be a note. Some examples are:
        <ul>
          <li>Journals</li>
          <li>Project logs</li>
          <li>Bookmarks</li>
          <li>Todo lists</li>
          <li>Story ideas</li>
          <li>Research items</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <a class="screenshot_group" title="Word counts update as you type" href="<%= image_path "wordcount.png" %>"><img src="<%= image_path "wordcount_small.png" %>"></a>
    </div>
    <div class="span8">
      <h3>Word Counts Show Your Progress</h3>
      <p>Each note's word count updates as you type. Total word counts also appear at the bottom of note lists, so you'll always know how many words you've written for
         your current project.</p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <a class="screenshot_group" title="Organize Notes with Projects and Tags" href="<%= image_path "organize.png" %>"><img src="<%= image_path "organize_small.png" %>"></a>
    </div>
    <div class="span8">
      <h3>Organize Notes with Projects and Tags</h3>
      <p>Notes can be a part of a project. Create separate projects for home, work, or your short stories. You can have as many projects as you want. To place a note in a project, simply drag it onto the project in the sidebar or choose it in the note edit screen.</p>
      <p>You can also put hashtags inline into note bodies. Notes can have as many tags as you want.</p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <a class="screenshot_group" title="Beautifully Rendered Notes" href="<%= image_path "show_note.png" %>"><img src="<%= image_path "show_note_small.png" %>"></a>
    </div>
    <div class="span8">
      <h3>Beautifully Rendered Notes</h3>
      <p>If you format your notes with Markdown or HTML, they'll be nicely
      formatted when you view them. Marginalia's styles have been carefully
      tuned for readability.</p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <a class="screenshot_group" title="All Your Notes in One Place" href="<%= image_path "list_notes.png" %>"><img src="<%= image_path "list_notes_small.png" %>"></a>
    </div>
    <div class="span8">
      <h3>All your Notes in One Place</h3>
      <p>The Notes list shows all of your notes, sorted by the last time they were updated.</p>
    </div>
  </div>
  <div class="row">
    <div class="span12" style="text-align: center">
      <div class="well">
        <a href="/plans" class="btn btn-large btn-success">Sign up now</a>
        <a href="/notes/new" class="btn btn-large btn-info">Try now for Free</a>
      </div>
    </div>
  </div>
</div>
