<ul>
  <% @tags.each do |tag| %>
  <li><a href="/tags/<%= tag %>"><%= tag %></a></li>
  <% end %>
</ul>

<%= content_for :sidebar do %>
  <%= link_to 'New Note', new_note_path, :class => 'btn' %><br><br>
  <%= link_to 'Manage Addresses', '/addresses' %><br><br>
  <%= link_to 'All Tags', '/tags' %>
<% end %>
