<% @supress_nav = true %>
<div class="hero-unit">
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.email_field :email, :placeholder => "Email" %><br>
  <%= f.password_field :password, :placeholder => "Password" %>

  <% if devise_mapping.rememberable? -%>
    <label for="user_remember_me">
    <%= f.check_box :remember_me %>
    Remember me
    </label>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
