<%= @disabled = !@plan.new_record? %>
<%= form_for(@plan, :url => (@plan.new_record? ? 
    '/admin/plans' : "/admin/plans/#{@plan.id}")) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, :class => 'control-label' %>
  <%= f.text_field :name, :disabled => @disabled %>
  <%= f.label :slug, :class => 'control-label' %>
  <%= f.text_field :slug, :disabled => @disabled %>
  <%= f.label :amount, :class => 'control-label' %>
  <%= f.number_field :amount, :disabled => @disabled %>
  <%= f.label :interval, :class => 'control-label' %>
  <%= f.text_field :interval, :disabled => @disabled %>
  <label class="checkbox">
     <%= f.check_box :active %> Active
  </label>
  <label class="checkbox">
    <%= f.check_box :featured %> Featured
  </label>
  <label class="checkbox">
    <%= f.check_box :can_export %> Can Export
  </label>
  <label class="checkbox">
    <%= f.check_box :can_share %> Can Share
  </label>
  <%= f.label :sort_order %>
  <%= f.number_field :sort_order %>
  <%= f.submit %>
<% end %>
