<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% if content_for? :title %>
    <title><%= yield :title %> : Marginalia</title>
    <% else %>
    <title>Marginalia</title>
    <% end %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

    <link href='https://fonts.googleapis.com/css?family=Miss+Fajardose' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <style type="text/css">
      @media (min-width: 980px) {
        body {
          padding-top: 60px;
        }
      }
    </style>

    <link href="/bootstrap-responsive.css" rel="stylesheet">

    <%= google_analytics_tag %>

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Marginalia</a>
          <% unless @supress_nav %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <form class="navbar-search pull-left" action="/notes/search" method="get">
                  <input type="text" class="search-query" placeholder="Search" name="q">
                </form>
              </li>
              <li><a href="/notes">Notes</a></li>
              <li><a href="/notes/new">New</a></li>
              <li><a href="/tags">Tags</a></li>
              <% unless is_guest? %>
              <li><%= link_to 'Settings', edit_user_registration_path %></li>
              <% end %>
              <% if is_admin? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/jobs">Delayed Jobs</a></li>
                  <li><a href="/admin/abingo">A/Bingo</a></li>
                </ul>
              </li>
              <% end %>
            </ul>
            <ul class="nav pull-right">
            <li>
              <% if is_guest? %>
                <button class="btn btn-success" onclick="window.location = '/register'">Buy now | $19</button>
                <button class="btn" onclick="window.location = '/users/sign_in'">Sign In</button>
              <% else %>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              <% end %>
            </li>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container-fluid">

        <div class="row-fluid">
          <div class="<%= content_for?(:sidebar) ? 'span9' : 'span12' %>">
            <% if notice %>
            <div class="alert alert-success">
              <a class="close" data-dismiss="alert">&times;</a>
              <%= notice %>
            </div>
            <% end %>

            <%= yield %>
          </div>
          <% if content_for?(:sidebar) %>
          <div class="span3">
            <div class="well sidebar affix" data-spy="affix" data-offset-top="0" data-ffset-right="0">
              <%= yield :sidebar %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <hr>
      <footer>
        <p class="pull-right">A <a href="http://bugsplat.info">Bugsplat</a> Production<br>
        <a href="/support">Support and Privacy Policy</p>
        <p>Questions or comments? Email us at <a href="mailto:hi@marginalia.io">hi@marginalia.io</a><br><a href="/apidocs">Developer Docs</a></p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
