<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% if content_for? :title %>
    <title><%= yield :title %> : Marginalia</title>
    <% else %>
    <title>Marginalia</title>
    <% end %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

    <link href='https://fonts.googleapis.com/css?family=Miss+Fajardose' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <style type="text/css">
      @media (min-width: 980px) {
        body {
          padding-top: 60px;
        }

        .sidenav {
          width: 224px;
        }
      }

    </style>

    <link rel="stylesheet" type="text/css" href="/bootstrap-responsive.css" />

    <%= google_analytics_tag %>
    <%= hittail_tag %>

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <% if @supress_nav %>
          <a class="brand" href="/">Marginalia</a>
          <% else %>
          <a class="brand" href="/notes">Marginalia</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
              <form class="navbar-search pull-left" action="/notes/search" method="get">
                <input type="text" class="search-query" placeholder="Search" name="q">
              </form>
              </li>
              <li><div><a href="/notes/new" class="btn btn-info"><i class="icon-edit"></i> New</a></div></li>
              <li><div><a href="/notes" class="btn"><i class="icon-list-ul"></i> Notes</a></div></li>
              <% unless is_guest? %>
                <li><div><%= link_to raw('<i class="icon-wrench"></i> Settings'), edit_user_registration_path, :class => "btn"%></div></li>
              <% end %>
            </ul>
            <div class="pull-right">
              <ul class="nav">
              <% if is_guest? || current_user.stripe_id.nil? %>
                <li><div><a href="/plans" class="btn btn-success"><%= sign_up_button_text %></a></div></li>
              <% end %>
              <% if is_guest? %>
                <li><div><a href="/users/sign_in" class="btn">Sign In</a></div></li>
              <% else %>
                <li><div><%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn") %></div></li>
              <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container-fluid">

        <div class="row-fluid">
          <div class="<%= content_for?(:sidebar) ? 'span9' : 'span12' %>">
            <% if notice %>
            <div class="alert alert-success">
              <a class="close" data-dismiss="alert">&times;</a>
              <%= notice %>
            </div>
            <% end %>

            <%= yield %>
          </div>
          <% if content_for?(:sidebar) %>
          <div class="span3 sidebar">
            <div class="well sidenav">
              <%= yield :sidebar %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <hr>
      <footer>
        <p class="pull-right">Built by <a href="http://www.petekeen.com">Pete Keen</a><br>
        <a href="/support">Support and Privacy Policy</a>
        <p>Questions or comments? Email us at <a href="mailto:hi@marginalia.io">hi@marginalia.io</a><br><a href="/apidocs">Developer Docs</a></p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
