<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% if content_for? :title %>
    <title><%= yield :title %> : Marginalia</title>
    <% else %>
    <title>Marginalia</title>
    <% end %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

    <link href='https://fonts.googleapis.com/css?family=Miss+Fajardose' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <style type="text/css">
      body {
        padding-top: 0px;
      }
    </style>

    <%= google_analytics_tag %>
    <%= hittail_tag %>
    <script type="text/javascript">
    $(function() {
      $('.screenshot_group').colorbox();
      $('#myCarousel').carousel({interval: 15000});
    });
    </script>

  </head>

  <body>
    <div class="container">
      <div class="row" style="padding-top: 1em">
        <div class="span2 pull-right news">
          <a href="/users/sign_in">Sign In</a> | 
          <a href="/tour">Tour</a> |
          <a href="/plans">Pricing</a>
        </div>
      </div>
      <div class="hero-unit">
        <h1><a class="brand tracked" href="https://www.marginalia.io/notes/new">Marginalia</a></h1>
        <p><%= tagline_text %></p>
      </div>
      <div class="row">
        <div class="span7">
          <h2><%= content_for :title %></h2>
          <%= yield %>
        </div>
        <div class="span5 news" style="text-align: center;">
          <div class="well">
            <p>
              <a href="https://www.marginalia.io/notes/new" class="btn btn-large btn-info tracked">Get Started for Free</a>
              <a href="https://www.marginalia.io/plans" class="btn btn-large btn-success tracked">Sign Up Now</a>
            </p>
          </div>
        </div>
        <div class="span5">
          <div id="myCarousel" class="carousel slide" style="height: 350px; margin-top: 20px">
            <!-- Carousel items -->
            <div class="carousel-inner" style="text-align: center">
              <div class="active item"><a class="screenshot_group" title="Create Entries with Ease" href="/assets/create_note.png"><img src="/assets/create_note_small.png"></a></div>
              <div class="item"><a class="screenshot_group" title="Beautifully Rendered Entries" href="/assets/show_note.png"><img src="/assets/show_note_small.png"></a></div>
              <div class="item"><a class="screenshot_group" title="All Your Entries in One Place" href="/assets/list_notes.png"><img src="/assets/list_notes_small.png"></a></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
        <div class="span5 news kinda-big">
          <p>
            <h3>Features</h3>
            <i class="icon-check" style="color: #24bf51"></i> Write Entries in Markdown<br>
            <i class="icon-check" style="color: #24bf51"></i> Send Entries by Email<br>
            <i class="icon-check" style="color: #24bf51"></i> Stored on our Secure Server<br>
            <i class="icon-check" style="color: #24bf51"></i> Share or Export with One Click<br>
              <i class="icon-check" style="color: #24bf51"></i> <strong>Unlimited</strong> Entries, Versions, and Projects<br>
          </p>
        </div>
      </div>
    <hr>
    <footer>
      <p class="pull-right">Built by <a href="http://www.petekeen.com">Pete Keen</a><br>
        <a class="tracked" href="https://www.marginalia.io/support">Support and Privacy Policy</a>
      <p>Questions or comments? Email us at <a href="mailto:hi@marginalia.io">hi@marginalia.io</a><br><a class="tracked" href="https://www.marginalia.io/apidocs">Developer Docs</a></p>
      <br>
    </footer>
    </div>
  </body>
</html>
